<a href="https://colab.research.google.com/github/gumdropsteve/near-ds/blob/main/00_query_the_near_blockchain_with_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Query the NEAR Blockchain with Python

### Connecting to NEAR Indexer for Explorer with psycopg2

[Read on Medium](https://medium.com/dropout-analytics/query-the-blockchain-with-python-78212c4faf7a?source=friends_link&sk=baf62808be8a1961ea70cdf457cda06d)

## Connecting to NEAR Indexer for Explorer

In [ ]:
import psycopg2

# postgres://public_readonly:nearprotocol@35.184.214.98/testnet_explorer
conn = psycopg2.connect(host="35.184.214.98", database="testnet_explorer", user="public_readonly", password="nearprotocol")

cur = conn.cursor()

## Querying NEAR Indexer for Explorer

In [ ]:
query = '''
        select 
            date_trunc('minute', to_timestamp(block_timestamp/1000/1000/1000)) as time,
            signer_account_id as signer,
            receiver_account_id as receiver
        from 
            transactions t
        where
            receiver_account_id = 'guest-book.testnet'
        '''
cur.execute(query)

In [ ]:
cur.fetchall()

#### Presenting Query Results

In [ ]:
import pandas as pd

def create_pandas_table(sql_query, database=conn):
    table = pd.read_sql_query(sql_query, database)
    return table

In [ ]:
query = '''
        select 
            date_trunc('minute', to_timestamp(block_timestamp/1000/1000/1000)) as time,
            signer_account_id as signer,
            receiver_account_id as receiver
        from 
            transactions t
        where
            receiver_account_id = 'guest-book.testnet'
        '''
create_pandas_table(query)

# Fin

[Back to GitHub](https://github.com/gumdropsteve/near-ds)