<a href="https://colab.research.google.com/github/gumdropsteve/near-ds/blob/main/01_account_relationships_through_transactions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Account Relationships on the NEAR Blockchain
### High Level Dapp and Account Specific Transaction Flow
[Read free on Medium](https://medium.com/dropout-analytics/account-relationships-on-the-blockchain-2fcddc25a3b4?sk=074c2f1012d99f31b1d5b4a6775879f9)

In [ ]:
import psycopg2

# postgres://public_readonly:nearprotocol@104.199.89.51/mainnet_explorer
conn = psycopg2.connect(host="104.199.89.51", database="mainnet_explorer", user="public_readonly", password="nearprotocol")

cur = conn.cursor()

In [ ]:
import pandas as pd

def create_pandas_table(sql_query, database=conn):
    table = pd.read_sql_query(sql_query, database)
    return table

In [ ]:
query = '''
        select 
            signer_account_id as signer,
            receiver_account_id as receiver,
            date_trunc('minute', to_timestamp(block_timestamp/1000/1000/1000)) as ds
        from 
            transactions
        '''
df = create_pandas_table(query)

df

In [ ]:
df.receiver.value_counts()[:10]

In [ ]:
df.loc[df.receiver=='app.nearcrowd.near'].signer.value_counts()

In [ ]:
df.loc[df.receiver=='jerry.zest.near'].signer.value_counts()

In [ ]:
df.loc[df.receiver=='berryclub.ek.near'].signer.value_counts()

In [ ]:
df.loc[df.receiver=='berryclub.ek.near']

In [ ]:
df.loc[df.receiver=='berryclub.ek.near'].signer.value_counts()

In [ ]:
print(df.loc[df.receiver=='berryclub.ek.near'].signer.value_counts()[:10])

Let's try a simple visualization

In [ ]:
df.loc[df.receiver=='berryclub.ek.near'].signer.value_counts().plot(kind = 'barh');

Issue: Too many unique value counts

### Visualize Flow with Graphistry

In [ ]:
## restart runtime after running this
# !pip install --user graphistry

In [ ]:
import graphistry

graphistry.register(api=3, protocol="https", server="hub.graphistry.com", username="", password="")

In [ ]:
g = graphistry.edges(df.loc[df.signer.isin(df.loc[df.receiver=='berryclub.ek.near'].signer.value_counts()[:10].keys())]).bind(source='signer', destination='receiver')

g.plot()

## Visualizing Transaction Volume

#### For a Dapp (berryclub.ek.near)

By month

In [ ]:
query = '''
        select
            count(*) n_transactions,
            date_trunc('month', to_timestamp(block_timestamp/1000/1000/1000)) ds
        from 
            transactions
            where 
                receiver_account_id = 'berryclub.ek.near'
            group by
                date_trunc('month', to_timestamp(block_timestamp/1000/1000/1000))
        '''
df = create_pandas_table(query)

df

In [ ]:
df['ds'] = pd.to_datetime(df.ds).dt.to_period('m')

df.plot(kind='bar', x='ds', y='n_transactions', title='Berry Club Received Transactions by Month');

By day

In [ ]:
query = '''
        select
            count(*) n_transactions,
            date_trunc('day', to_timestamp(block_timestamp/1000/1000/1000)) ds
        from 
            transactions
            where 
                receiver_account_id = 'berryclub.ek.near'
            group by
                date_trunc('day', to_timestamp(block_timestamp/1000/1000/1000))
        '''
df = create_pandas_table(query)

df.ds = pd.to_datetime(df.ds)

df.plot(x='ds', y='n_transactions', title='Berry Club Received Transactions by Day', figsize=(24, 6));

By hour

In [ ]:
query = '''
        select
            count(*) n_transactions,
            date_trunc('hour', to_timestamp(block_timestamp/1000/1000/1000)) ds
        from 
            transactions
            where 
                receiver_account_id = 'berryclub.ek.near'
                and date_trunc('hour', to_timestamp(block_timestamp/1000/1000/1000)) between '2021-06-17' and '2021-06-24'
            group by
                date_trunc('hour', to_timestamp(block_timestamp/1000/1000/1000))
        '''
df = create_pandas_table(query)

df.ds = pd.to_datetime(df.ds)

df.plot(x='ds', y='n_transactions', title='Berry Club Received Transactions by Hour', figsize=(24, 6));

By minute

In [ ]:
'''
select
    count(*) n_transactions,
    date_trunc('minute', to_timestamp(block_timestamp/1000/1000/1000)) ds
from 
    transactions
    where 
        receiver_account_id = 'berryclub.ek.near'
        and date_trunc('minute', to_timestamp(block_timestamp/1000/1000/1000)) between '2021-06-19' and '2021-06-20'
    group by
        date_trunc('minute', to_timestamp(block_timestamp/1000/1000/1000))
'''
df = create_pandas_table(query)

df.ds = pd.to_datetime(df.ds)

df.plot(x='ds', y='n_transactions', title='Berry Club Received Transactions by Minute', figsize=(24, 6));

#### Between an Account and a Dapp (blaze.near -> berryclub.ek.near)

By month

In [ ]:
query = '''
        select
            count(*) n_transactions,
            date_trunc('month', to_timestamp(block_timestamp/1000/1000/1000)) ds
        from 
            transactions
            where 
                signer_account_id = 'blaze.near'
                and receiver_account_id = 'berryclub.ek.near'
            group by
                date_trunc('month', to_timestamp(block_timestamp/1000/1000/1000))
        '''
df = create_pandas_table(query)

df

In [ ]:
df.ds = pd.to_datetime(df.ds).dt.to_period('m')

df.plot(kind='bar', x='ds', y='n_transactions', title='blaze.near -> Berry Club by Month');

By day

In [ ]:
query = '''
        select
            count(*) n_transactions,
            date_trunc('day', to_timestamp(block_timestamp/1000/1000/1000)) ds
        from 
            transactions
            where 
                signer_account_id = 'blaze.near'
                and receiver_account_id = 'berryclub.ek.near'
            group by
                date_trunc('day', to_timestamp(block_timestamp/1000/1000/1000))
        '''
df = create_pandas_table(query)

df.ds = pd.to_datetime(df.ds)

df.plot(x='ds', y='n_transactions', title='blaze.near -> Berry Club by Day', figsize=(24, 6));

## Forecast Transaction Volume with Prophet
> Prophet is a procedure for forecasting time series data based on an additive model where non-linear trends are fit with yearly, weekly, and daily seasonality, plus holiday effects. - [Intro to Facebook Prophet](https://medium.com/future-vision/intro-to-prophet-9d5b1cbd674e?source=friends_link&sk=5709431ddc156b076b3cc1c22be3dcbf)

#### For a Dapp
Let's forecast the next 7 days of transactions received by berryclub.ek.near.

In [ ]:
from fbprophet import Prophet

m = Prophet()

In [ ]:
query = '''
        select
            date_part('year', date) || '-' || date_part('month', date) || '-' || date_part('day', date) ds,
            count(*) y
        from 
            (
                select
                    signer_account_id,
                    receiver_account_id,
                    date_trunc('hour', to_timestamp(block_timestamp/1000/1000/1000)) date
                from
                    transactions
            ) dt
            where
                receiver_account_id = 'berryclub.ek.near'
            group by
                date
        '''

df = create_pandas_table(query)

df['ds'] = pd.to_datetime(df.ds)

df.sample(2)

In [ ]:
m.fit(df)

In [ ]:
future = m.make_future_dataframe(7, freq='D')

forecast = m.predict(future)

forecast[['ds', 'yhat']].tail(7)

In [ ]:
m.plot(forecast);

In [ ]:
m.plot_components(forecast);

#### Between 2 accounts
Let's forecast the next 7 days of transactions between 2 accounts.

In [ ]:
m = Prophet()

In [ ]:
query = '''
        select
            date_part('year', date) || '-' || date_part('month', date) || '-' || date_part('day', date) ds,
            count(*) y
        from 
            (
                select
                    signer_account_id,
                    receiver_account_id,
                    date_trunc('day', to_timestamp(block_timestamp/1000/1000/1000)) date
                from
                    transactions
            ) dt
            where 
                signer_account_id = 'blaze.near'
                and receiver_account_id = 'berryclub.ek.near'
            group by
                date
        '''

df = create_pandas_table(query)

df['ds'] = pd.to_datetime(df.ds)

df.sample(3)

In [ ]:
m.fit(df)

In [ ]:
future = m.make_future_dataframe(7, freq='D')

forecast = m.predict(future)

forecast[['ds', 'yhat']].tail(7)

In [ ]:
m.plot(forecast);

In [ ]:
m.plot_components(forecast);

# Fin
[Back to GitHub](https://github.com/gumdropsteve/near-ds) | [Read free on Medium](https://medium.com/dropout-analytics/account-relationships-on-the-blockchain-2fcddc25a3b4?sk=074c2f1012d99f31b1d5b4a6775879f9)